@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');



#linkedfont {
    font-size: 20px;
    font-family: 'Shizuru', cursive;
}

#importedfont {
    font-size: 20px;
    font-family: 'Staatliches', cursive;
}

h3:before {
    content: "[]";
    color: red;
}

h2:after {
    content: "()";
    color: red;
    background-color: green;
}

li {
    list-style-type: none;
}

li:before {
    content: "♥";
    color: red;
}